extends ./layout


block bodyContainer
  .categoryPage(ng-controller='CategoryPageController')
    header.header #{viewData.category}

    ul.tags
      each tag in viewData.tags
        li: a(href='javascript:;') #{tag}

    .recommand
      h2.title
        | 强力推荐
        a.more(href='javascript:;') 更多>
        .line
        

  - importer.import('/js/category.js');
  - importer.import('/css/category.css');